
/* perus CSS asetukset alkaa*/

body {
    font-family:Curlz MT;
    line-height: 1.8;
    color:chartreuse;
    font-size: 20px;
    letter-spacing: 1.5px;
}
img {
    width: 100%;
}

h1 {
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
   
}

p {
    font-weight: 700;
    letter-spacing: 1.5px;
    color:hsl(204, 85%, 34%);
    font-size: 35px;
    text-shadow: -1px 0px rgb(114, 70, 12), 0 0px black, 0px 0 black, 0 -1px black;
}
a {
    font-weight: 700;
    transition: all 0.5s ease; /*tämä aika vaikuttaa kuinka linkin väri muuttuu*/
}

small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* perus CSS asetukset loppuu*/

/* Navbar CSS asetukset alkaa*/

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    margin-left: 3px;
    margin-right: 3px;
    max-width: 100%;
    
}


.logo-text {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;

}

.navbar .nav-link {
    
    font-family:Curlz MT;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

li a:hover {
    background-color: brown;
    font-weight: bolder;
}

.navbar-dark .navbar-nav .nav-link.active {
    color:chartreuse;
         

}


.navbar-dark .navbar-brand {
    color:chartreuse;
    
}

/* Navbar CSS asetukset loppuu*/

/* Etusivu asetukset alkaa*/

#Etusivu {
    background: url(images/OOO.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    align-items: top;
}

#Etusivu h1 {
    font-weight: 700;
}

.container1 {
    margin-left: 5px;
    margin-right: 3px;
    
}

/* Etusivu asetukset loppuu*/

/*Tietoja -sivu alkaa*/

h4 {
    background-color: rgb(228, 107, 67);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    color:hsl(130, 75%, 24%);
}

.tekijä {
    background-color: darksalmon;
}



.tekijä.even {
    background-color: rgb(228, 107, 67);
}

.tekijä .hline {
    width: 250px;
    height: 2px;
    margin: 16px auto;
    background-color: darkgreen;
}

h2 /*omat nimet*/{
    font-weight: 700;
    color:hsl(204, 85%, 34%);
    font-size: 65px;
    text-shadow: -1px 0px rgb(255, 254, 254), 0 0px black, 0px 0 black, 0 -1px black;
}

h3 /*Web designer -teksti*/ {
    font-weight: 500;
    font-size: 45px;
    color:hsl(204, 84%, 48%);;
    text-shadow: -1px 0px rgb(114, 70, 12), 0 0px black, 0px 0 black, 0 -1px black;
}

p1 {
    font-weight: 500;
    font-size: 40px;
    color:hsl(204, 84%, 48%);
    letter-spacing: 2px;
    text-shadow: -1px 0px black, 0 0px black, 0px 0 black, 0 -1px black;
}

p2 {
    font-weight: 500;
    font-size: 40px;
    color:hsl(204, 84%, 48%);
    letter-spacing: 2px;
    text-shadow: -1px 0px black, 0 0px black, 0px 0 black, 0 -1px black;
    
}


/*Tietoja -sivu loppuu*/


    
body {
    font-family:Curlz MT;
    line-height: 1.8;
    color:chartreuse;
    font-size: 20px;
    letter-spacing: 1.5px;
}
img {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
   
}

p {
    font-weight: 700;
    letter-spacing: 1.5px;
    color:hsl(204, 85%, 34%);
    font-size: 35px;
    text-shadow: -1px 0px rgb(114, 70, 12), 0 0px black, 0px 0 black, 0 -1px black;
}
a {
    font-weight: 700;
    transition: all 0.5s ease; /*tämä aika vaikuttaa kuinka linkin väri muuttuu*/
}

small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* perus CSS asetukset loppuu*/
