
/* perus CSS asetukset alkaa*/

:root {
    --primary-color: rgb(10, 126, 222);
    --primary-color-highlight: rgb(27, 210, 223);
    --bs-body-bg: rgb(66, 158, 243);
   
}

body {
    font-family:Curlz MT;
    line-height: 1.8;
    color:chartreuse;
    font-size: 20px;
    letter-spacing: 1.5px;
}
img {
    width: 100%;
}

.py-0 {
    padding-top: 0.5!important;
    padding-bottom: 0.3!important;
}

ul {
    padding-right: 2rem;
}

span {
    padding-left: 2rem;
}


h1 {
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
   
}

p {
    font-weight: 700;
    letter-spacing: 1.5px;
    color:hsl(204, 85%, 34%);
    font-size: 35px;
    text-shadow: -1px 0px rgb(114, 70, 12), 0 0px black, 0px 0 black, 0 -1px black;
}
a {
    font-weight: 700;
    transition: all 0.5s ease; /*tämä aika vaikuttaa kuinka linkin väri muuttuu*/
}

small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* perus CSS asetukset loppuu*/

/* Navbar CSS asetukset alkaa*/

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    margin-left: 3px;
    margin-right: 3px;
    max-width: 100%;
    
}



.logo-text {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;

}

.navbar .nav-link {
    
    font-family:Curlz MT;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-dark .navbar-nav .nav-link {
    color:hsl(306, 72%, 66%);
}



li a:hover {
    background-color: rgb(34, 138, 105, 0.7);
    font-weight: bolder;
    max-width: 100px 
    
}

.navbar-dark .navbar-toggler {
    color: rgb(67, 235, 33);
    border-color: rgb(5, 67, 12);
}

.navbar-dark .navbar-nav .nav-link.active {
    color:chartreuse;   

}


.navbar-dark .navbar-brand {
    color:chartreuse;
    
}




/* Navbar CSS asetukset loppuu*/

/* Etusivu asetukset alkaa*/

#Etusivu {
    background: url(images/OOO.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    display: flex;
    align-items: top;
}

#Etusivu h1 {
    font-weight: 700;
    color:rgb(14, 106, 193);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container1  {
    margin-left: 50px;
    margin-right: 3px;
    margin-top: 1px;
   
   
}


.container2 {
    margin-left: 50px;
    margin-right: 3px;
    margin-top: 950px;
    
    
}

/*etusivu teksti container*/
.container1 .container2 {
    width: 100%;
    padding: 0 1rem;
    margin:0 auto;
}

@media (min-width: 1200px) {
    .container1 .container2 
       {width: 1140%;}
       
}

@media (min-width: 1400px) {
    .container1 .container2 
        {width: 1340%;}
       
}

@media (min-width: 1600px) {
     .container2 
        {width: 1520%;}
        
       
}
/* Etusivu asetukset loppuu*/

/*Tietoja -sivu alkaa*/



h4 {
    background-color: rgb(228, 107, 67);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
    color:hsl(130, 75%, 24%);
}

.tekijä {
    background-color: darksalmon;
    
    
   
}

.tekijä-img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    
}

.nalle-img {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.tekijä.even {
    background-color: rgb(228, 107, 67);
    
}


.tekijä .hline {
    width: 250px;
    height: 2px;
    margin: 16px auto;
    background-color: darkgreen;
}

h2 /*omat nimet*/{
    font-weight: 700;
    color:hsl(165, 80%, 19%);
    font-size: 65px;
    text-shadow: -1px 0px rgb(2, 2, 2), 0 0px black, 0px 0 black, 0 -1px black;
}

h3 /*Web designer -teksti*/ {
    font-weight: 500;
    font-size: 45px;
    color:hsl(204, 84%, 48%);;
    text-shadow: -1px 0px rgb(6, 6, 6), 0 0px black, 0px 0 black, 0 -1px black;
}

p1 {
    font-weight: 500;
    font-size: 45px;
    color:hsl(204, 88%, 30%);
    letter-spacing: 2px;
    font-family:Monotype Corsiva;
    text-shadow: -1px 0px black, 0 0px black, 0px 0 black, 0 -1px black;
}

p2 {
    font-weight: 500;
    font-size: 45px;
    color:hsl(204, 84%, 48%);
    letter-spacing: 2px;
    font-family:Monotype Corsiva;
    text-shadow: -1px 0px black, 0 0px black, 0px 0 black, 0 -1px black;
    
}


/*Tietoja -sivu loppuu*/

/*footer alkaa*/

.footer .border-highlight{
    border-top: 2px solid var(--primary-color-highlight);

}

/*footer loppuu*/


    
body {
    font-family:Curlz MT;
    line-height: 1.8;
    color:chartreuse;
    font-size: 20px;
    letter-spacing: 1.5px;
}
img {
    width: 100%;
    height: 100%;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

h1 {
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:hsl(204, 85%, 34%);
    text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;
   
}

p {
    font-weight: 700;
    letter-spacing: 1.5px;
    color:hsl(204, 85%, 34%);
    font-size: 35px;
    text-shadow: -1px 0px rgb(114, 70, 12), 0 0px black, 0px 0 black, 0 -1px black;
}
a {
    font-weight: 700;
    transition: all 0.5s ease; /*tämä aika vaikuttaa kuinka linkin väri muuttuu*/
}

small {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
}

/* perus CSS asetukset loppuu*/
