.border {
    border: 6px solid #0e66be!important;
    padding: 2px;
    border-style: groove;
   }

   .navbar-dark .navbar-brand {
    color: chartreuse;
}

/*footer alkaa*/
ul {
    padding-right: 2rem;
}

span {
    padding-left: 2rem;
}

h2 {
    font-size: 40px;
}

h1, p {
    text-align: center;
}

/*footer loppuu*/